@inherits ComponentBaseWithLocalizer

@page "/countries/create"

<h3>@Localizer["Create"] @Localizer["Country"]</h3>

<CountryForm @ref="_countryForm" Country="_country" OnValidSubmit="CreateAsync" ReturnAction="Return"></CountryForm>