@inherits ComponentBaseWithLocalizer
@typeparam T

@if (MyList is null)
{
    @if (Loading is null)
    {
        <Loading/>
    }
    else
    {
        @Loading
    }
}
else if (!MyList.Any())
{
    @if (NoRecords is null)
    {
        <p>@Localizer["NoRecords"]</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}